<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOtFnEZrTQeqbMyx1rmc6JBYYI20F3yew</string>
	<key>GCM_SENDER_ID</key>
	<string>534651781819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luke9612.YoSoyEvents</string>
	<key>PROJECT_ID</key>
	<string>yosoy-events</string>
	<key>STORAGE_BUCKET</key>
	<string>yosoy-events.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534651781819:ios:f13bbd405a5c4bab11df9e</string>
</dict>
</plist>